# =========================================
# ARCHIVOS Y CARPETAS DE CONFIGURACIÓN
# =========================================
.idea/

# =========================================
# AMBIENTES VIRTUALES
# =========================================
venv/
.venv/
env/
.env/

# =========================================
# DATOS, LOGS Y MODELOS
# =========================================
data/
*.h5

# =========================================
# ARCHIVOS TEMPORALES DE PYTHON
# =========================================
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info/
dist/
build/

# =========================================
# NOTEBOOKS
# =========================================
.ipynb_checkpoints/

# =========================================
# SISTEMA
# =========================================
.DS_Store
Thumbs.db
